:root {
  --color-dark-high: #171717;
  --color-dark-low: #404040;
  --color-neutral: #737373;
  --color-light-low: #D4D4D4;
  --color-light-high: #F5F5F5;

  --font-size-sm: 1rem;
  --font-size-md: 1.25rem;
  --font-size-lg: 2rem;
}



body,
h1, p {
  margin: 0;
  padding: 0;
}



h1 {
  font-size: var(--font-size-lg);
  font-weight: bold;
}
