#home {
  height: 100vh;
  padding: 0 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#home .title-wrapper {
  display: flex;
  gap: 1rem;
}

#home h1#name,
#home h1#title {
  background: linear-gradient(to right, #84cc16, #22c55e, #10b981);
  -webkit-background-clip: text;
  background-clip: text;
}

#home p {
  margin-top: 2rem;
  font-size: var(--font-size-md);
}

#home .button-wrapper {
  margin-top: 4rem;
  display: flex;
  gap: 2rem;
}

#home button {
  padding: 1rem 2rem;
  font-size: var(--font-size-md);
}
